<div class="container">
    
      <h1 style="text-align: center">
        {{title}}
      </h1>
    </div>
    <div class="row">
        <div class="col-md">
            <app-add-meal (newMealSender)="addMeal($event)"></app-add-meal>
          </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-display [childMealList]="MealsList" (clickSender)="showDetails($event)" (delSender)="deleteMeal($event)">
          ></app-display>
      </div>
      <div class="col-md-6">
        <app-edit-meal [childSelectedMeal]="selectedMeal" (doneClickedSender)="finishedEditing()"></app-edit-meal>
      </div>
  
  </div>