<div *ngIf="childSelectedMeal" class="text-align center ">
    <h2>Edit</h2>

    <div class="">
      <label class="" >Meal:</label>

        <input class="" [(ngModel)]="childSelectedMeal.name">
    </div>
    <div class="">
      <label class="" >Description:</label>
      <div class="">
        <input [(ngModel)]="childSelectedMeal.description" class="">
      </div>
    </div>
    <div class="">
      <label class="" >Calories:</label>
      <div class="">
        <input class="" [(ngModel)]="childSelectedMeal.calories">
      </div>
    </div>

    <div class="">
      <div class="">
        <button (click)="DoneClicked()" class="btn btn-success">Done</button>
      </div>
    </div>
</div>
